public/resources/workflows/ai-content-pipeline.json
{
  "meta": { "instanceId": "aibn-ai-content-pipeline" },
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] } },
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "id": "d1b2c3d4-0001-4000-8000-000000000001"
    },
    {
      "parameters": {
        "url": "https://yourproduct.com/blog/rss",
        "options": {}
      },
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 300],
      "id": "d1b2c3d4-0002-4000-8000-000000000002"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "name": "Scrape Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300],
      "id": "d1b2c3d4-0003-4000-8000-000000000003"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "summarize this article in 3 bullet points for a newsletter. keep it builder-friendly."
            },
            { "content": "={{ $json.data }}", "role": "user" }
          ]
        }
      },
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [800, 300],
      "id": "d1b2c3d4-0004-4000-8000-000000000004"
    },
    {
      "parameters": {
        "fromEmail": "digest@yourproduct.com",
        "toEmail": "subscribers@list.com",
        "subject": "=daily digest — {{ new Date().toLocaleDateString() }}",
        "emailType": "html",
        "message": "={{ $json.message.content }}"
      },
      "name": "Send Newsletter",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1000, 300],
      "id": "d1b2c3d4-0005-4000-8000-000000000005"
    },
    {
      "parameters": {
        "channel": "#marketing",
        "text": "=newsletter sent with {{ $('Fetch RSS Feed').all().length }} articles summarized"
      },
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1200, 300],
      "id": "d1b2c3d4-0006-4000-8000-000000000006"
    }
  ],
  "connections": {
    "Daily Trigger": { "main": [[{ "node": "Fetch RSS Feed", "type": "main", "index": 0 }]] },
    "Fetch RSS Feed": { "main": [[{ "node": "Scrape Article", "type": "main", "index": 0 }]] },
    "Scrape Article": { "main": [[{ "node": "Summarize with AI", "type": "main", "index": 0 }]] },
    "Summarize with AI": { "main": [[{ "node": "Send Newsletter", "type": "main", "index": 0 }]] },
    "Send Newsletter": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]] }
  },
  "pinData": {}
}
